<p id="notice"><%= notice %></p>

<h1>Storage Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Warehouse</th>
      <th>Location</th>
      <th>Material master</th>
      <th>Quantity</th>
      <th>Unit master</th>
      <th>Unit price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storage_inventories.each do |storage_inventory| %>
      <tr>
        <td><%= storage_inventory.warehouse_id %></td>
        <td><%= storage_inventory.location_id %></td>
        <td><%= storage_inventory.material_master_id %></td>
        <td><%= storage_inventory.quantity %></td>
        <td><%= storage_inventory.unit_master_id %></td>
        <td><%= storage_inventory.unit_price %></td>
        <td><%= link_to 'Show', storage_inventory %></td>
        <td><%= link_to 'Edit', edit_storage_inventory_path(storage_inventory) %></td>
        <td><%= link_to 'Destroy', storage_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storage Inventory', new_storage_inventory_path %>
