<p id="notice"><%= notice %></p>

<p>
  <strong>Warehouse:</strong>
  <%= @storage_inventory.warehouse_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @storage_inventory.location_id %>
</p>

<p>
  <strong>Material master:</strong>
  <%= @storage_inventory.material_master_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @storage_inventory.quantity %>
</p>

<p>
  <strong>Unit master:</strong>
  <%= @storage_inventory.unit_master_id %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @storage_inventory.unit_price %>
</p>

<%= link_to 'Edit', edit_storage_inventory_path(@storage_inventory) %> |
<%= link_to 'Back', storage_inventories_path %>
