<%= simple_form_for @working_subcategory, :html => { :class => 'well form-horizontal' } do |f| %>
  <% if @working_subcategory.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@working_subcategory.errors.count, "error") %> prohibited this supplier_master from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @working_subcategory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <!--<%= f.input :working_category_id %>-->
  <%= f.collection_select :working_category_id, WorkingCategory.all, :id, :category_name, 
     {:prompt => "どれか一つを選択して下さい"} , {id:"working_category_id", 
  class: "searchableSelect2_1" , style: 'width:440px' } %>
  
  <%= f.input :name , input_html:{ :tabindex=>"1", id:"name" }%>
  
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                working_subcategories_path(working_category_id: params[:working_category_id]), :class => 'btn btn-default' %>
<% end %>
