<%= simple_form_for @affiliation, :html => { :class => 'well form-horizontal' } do |f| %>
  <% if @affiliation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@affiliation.errors.count, "error") %> prohibited this supplier_master from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @affiliation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= f.input :affiliation_name %>
  
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                affiliations_path, :class => 'btn btn-default' %>
<% end %>
