<%- model_class = WorkingTime -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <!--
  <dt><strong><%= model_class.human_attribute_name(:employment_status_id) %>:</strong></dt>
  <dd><%= @working_time.employment_status_id %></dd>
  -->
  <dt><strong><%= model_class.human_attribute_name(:working_time_start_time) %>:</strong></dt>
  <dd><%= @working_time.working_time_start_time.strftime( "%H:%M" ) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:working_time_end_time) %>:</strong></dt>
  <dd><%= @working_time.working_time_end_time.strftime( "%H:%M" ) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:overtime_start_time) %>:</strong></dt>
  <dd><%= @working_time.overtime_start_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:overtime_end_time) %>:</strong></dt>
  <dd><%= @working_time.overtime_end_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:overtime_early_start_time) %>:</strong></dt>
  <dd><%= @working_time.overtime_early_start_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:overtime_early_end_time) %>:</strong></dt>
  <dd><%= @working_time.overtime_early_end_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:overtime_midnight_start_time) %>:</strong></dt>
  <dd><%= @working_time.overtime_midnight_start_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:overtime_midnight_end_time) %>:</strong></dt>
  <dd><%= @working_time.overtime_midnight_end_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:break_time_1_start_time) %>:</strong></dt>
  <dd><%= @working_time.break_time_1_start_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:break_time_1_end_time) %>:</strong></dt>
  <dd><%= @working_time.break_time_1_end_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:break_time_2_start_time) %>:</strong></dt>
  <dd><%= @working_time.break_time_2_start_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:break_time_2_end_time) %>:</strong></dt>
  <dd><%= @working_time.break_time_2_end_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:break_time_3_start_time) %>:</strong></dt>
  <dd><%= @working_time.break_time_3_start_time.strftime( "%H:%M" )  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:break_time_3_end_time) %>:</strong></dt>
  <dd><%= @working_time.break_time_3_end_time.strftime( "%H:%M" )  %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              working_times_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_working_time_path(@working_time), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              working_time_path(@working_time),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
