<%- model_class = Expence -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:table_type_id) %>:</strong></dt>
  <dd><%= @expence.table_type_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:table_id) %>:</strong></dt>
  <dd><%= @expence.table_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_method_id) %>:</strong></dt>
  <dd><%= @expence.payment_method_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_on) %>:</strong></dt>
  <dd><%= @expence.payment_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unpaid_on) %>:</strong></dt>
  <dd><%= @expence.unpaid_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @expence.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_amount) %>:</strong></dt>
  <dd><%= @expence.payment_amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:billing_year_month) %>:</strong></dt>
  <dd><%= @expence.billing_year_month %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_source_id) %>:</strong></dt>
  <dd><%= @expence.payment_source_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_estimate) %>:</strong></dt>
  <dd><%= @expence.is_estimate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_completed) %>:</strong></dt>
  <dd><%= @expence.is_completed %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              expences_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_expence_path(@expence), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              expence_path(@expence),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
